<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>請輸入車牌號碼</title>
    <link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">

</head>
<body>

    <style>
        td {
            width: 150px;
            text-align: center;
            border: 1px solid rgb(0, 0, 0);
            padding: 5px;
          }
        </style>
    <center><h1>
        <img src="{{url_for('static',filename='MCUT.png')}}" width="200" height="200"/>
    </h1></center>
    <center><h1>歡迎光臨MCUT!</h1></center>
    <center><form method='post' action="{{url_for('submit')}}">
        <p>請輸入車牌號碼<strong>(須包含-)</strong><input type='text' id= "field10" name='input_value'/> <button type='submit' width="64" height="64">確定</button></p>
    </form></center>

    <center><button onclick="myFunction0()"><img src="{{url_for('static',filename='0.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction1()"><img src="{{url_for('static',filename='1.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction2()"><img src="{{url_for('static',filename='2.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction3()"><img src="{{url_for('static',filename='3.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction4()"><img src="{{url_for('static',filename='4.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction5()"><img src="{{url_for('static',filename='5.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction6()"><img src="{{url_for('static',filename='6.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction7()"><img src="{{url_for('static',filename='7.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction8()"><img src="{{url_for('static',filename='8.png')}}" width="64" height="64"/></button>
        <button onclick="myFunction9()"><img src="{{url_for('static',filename='9.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionDASH()"><img src="{{url_for('static',filename='-.png')}}" width="64" height="64"/></button>
        <button style="background-color:rgb(150, 150, 150)" onclick="Backspace()"><img src="{{url_for('static',filename='Backspace.png')}}" width="64" height="64"/></button>
        <button style="background-color:rgb(150, 150, 150)" onclick="removeButton()"><img src="{{url_for('static',filename='clear.png')}}" width="64" height="64"/></button><br>
        <button onclick="myFunctionA()"><img src="{{url_for('static',filename='A.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionB()"><img src="{{url_for('static',filename='B.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionC()"><img src="{{url_for('static',filename='C.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionD()"><img src="{{url_for('static',filename='D.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionE()"><img src="{{url_for('static',filename='E.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionF()"><img src="{{url_for('static',filename='F.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionG()"><img src="{{url_for('static',filename='G.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionH()"><img src="{{url_for('static',filename='H.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionI()"><img src="{{url_for('static',filename='I.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionJ()"><img src="{{url_for('static',filename='J.png')}}" width="64" height="64"/></button><br>
        <button onclick="myFunctionK()"><img src="{{url_for('static',filename='K.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionL()"><img src="{{url_for('static',filename='L.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionM()"><img src="{{url_for('static',filename='M.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionN()"><img src="{{url_for('static',filename='N.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionO()"><img src="{{url_for('static',filename='O.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionP()"><img src="{{url_for('static',filename='P.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionQ()"><img src="{{url_for('static',filename='Q.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionR()"><img src="{{url_for('static',filename='R.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionS()"><img src="{{url_for('static',filename='S.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionT()"><img src="{{url_for('static',filename='T.png')}}" width="64" height="64"/></button><br>
        <button onclick="myFunctionU()"><img src="{{url_for('static',filename='U.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionV()"><img src="{{url_for('static',filename='V.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionW()"><img src="{{url_for('static',filename='W.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionX()"><img src="{{url_for('static',filename='X.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionY()"><img src="{{url_for('static',filename='Y.png')}}" width="64" height="64"/></button>
        <button onclick="myFunctionZ()"><img src="{{url_for('static',filename='Z.png')}}" width="64" height="64"/></button>
    </center>

    <script type="text/javascript">

        function myFunction0() {
          document.getElementById("field10").value = document.getElementById("field10").value + "0";
        }
        function myFunction1() {
          document.getElementById("field10").value = document.getElementById("field10").value + "1";
        }
        function myFunction2() {
          document.getElementById("field10").value = document.getElementById("field10").value + "2";
        }
        function myFunction3() {
          document.getElementById("field10").value = document.getElementById("field10").value + "3";
        }
        function myFunction4() {
          document.getElementById("field10").value = document.getElementById("field10").value + "4";
        }
        function myFunction5() {
          document.getElementById("field10").value = document.getElementById("field10").value + "5";
        }
        function myFunction6() {
          document.getElementById("field10").value = document.getElementById("field10").value + "6";        
        }
        function myFunction7() {
          document.getElementById("field10").value = document.getElementById("field10").value + "7";        
        }
        function myFunction8() {
          document.getElementById("field10").value = document.getElementById("field10").value + "8";        
        }
        function myFunction9() {
          document.getElementById("field10").value = document.getElementById("field10").value + "9";        
        }
        function myFunctionDASH() {
          document.getElementById("field10").value = document.getElementById("field10").value + "-";        
        }
        function Backspace() {
          document.getElementById("field10").value = document.getElementById("field10").value.slice(0,-1)
        }
        function removeButton() {
          document.getElementById("field10").value = null;
        }
        function myFunctionA() {
          document.getElementById("field10").value = document.getElementById("field10").value + "A";        
        }
        function myFunctionB() {
          document.getElementById("field10").value = document.getElementById("field10").value + "B";        
        }
        function myFunctionC() {
          document.getElementById("field10").value = document.getElementById("field10").value + "C";        
        }
        function myFunctionD() {
          document.getElementById("field10").value = document.getElementById("field10").value + "D";        
        }
        function myFunctionE() {
          document.getElementById("field10").value = document.getElementById("field10").value + "E";        
        }
        function myFunctionF() {
          document.getElementById("field10").value = document.getElementById("field10").value + "F";        
        }
        function myFunctionG() {
          document.getElementById("field10").value = document.getElementById("field10").value + "G";        
        }
        function myFunctionH() {
          document.getElementById("field10").value = document.getElementById("field10").value + "H";        
        }
        function myFunctionI() {
          document.getElementById("field10").value = document.getElementById("field10").value + "I";        
        }
        function myFunctionJ() {
          document.getElementById("field10").value = document.getElementById("field10").value + "J";        
        }
        function myFunctionK() {
          document.getElementById("field10").value = document.getElementById("field10").value + "K";        
        }
        function myFunctionL() {
          document.getElementById("field10").value = document.getElementById("field10").value + "L";        
        }
        function myFunctionM() {
          document.getElementById("field10").value = document.getElementById("field10").value + "M";        
        }
        function myFunctionN() {
          document.getElementById("field10").value = document.getElementById("field10").value + "N";        
        }
        function myFunctionO() {
          document.getElementById("field10").value = document.getElementById("field10").value + "O";        
        }
        function myFunctionP() {
          document.getElementById("field10").value = document.getElementById("field10").value + "P";        
        }
        function myFunctionQ() {
          document.getElementById("field10").value = document.getElementById("field10").value + "Q";        
        }
        function myFunctionR() {
          document.getElementById("field10").value = document.getElementById("field10").value + "R";        
        }
        function myFunctionS() {
          document.getElementById("field10").value = document.getElementById("field10").value + "S";        
        }
        function myFunctionT() {
          document.getElementById("field10").value = document.getElementById("field10").value + "T";        
        }
        function myFunctionU() {
          document.getElementById("field10").value = document.getElementById("field10").value + "U";        
        }
        function myFunctionV() {
          document.getElementById("field10").value = document.getElementById("field10").value + "V";        
        }
        function myFunctionW() {
          document.getElementById("field10").value = document.getElementById("field10").value + "W";        
        }
        function myFunctionX() {
          document.getElementById("field10").value = document.getElementById("field10").value + "X";        
        }
        function myFunctionY() {
          document.getElementById("field10").value = document.getElementById("field10").value + "Y";        
        }
        function myFunctionZ() {
          document.getElementById("field10").value = document.getElementById("field10").value + "Z";        
        }




    </script>

    <center><h1>現在時間:{{ct}}</h1><center>
</body>
</html>